<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="dynamic-form" aria-label="Dynamic Form">
  <div class="form-fields">
    <ng-container *ngFor="let field of schema">
      <ng-container *ngIf="shouldShowField(field)">
        <mat-form-field class="full-width" *ngIf="field.type !== 'checkbox'">
          <mat-label *ngIf="field.label">{{ field.title }}</mat-label>
          <mat-label>{{ field.label }}</mat-label>

          <input *ngIf="['text', 'email', 'number'].includes(field.type) && field.key === 'username'" matInput [type]="field.type"
            [formControlName]="field.key" [attr.aria-label]="field.label" autocomplete="username" />

          <input *ngIf="['text', 'email', 'number'].includes(field.type) && field.key !== 'username'" matInput [type]="field.type"
            [formControlName]="field.key" [attr.aria-label]="field.label" />

          <input *ngIf="field.type === 'password'" matInput type="password"
            [formControlName]="field.key" [attr.aria-label]="field.label" autocomplete="new-password" />

          <input *ngIf="field.type === 'date'" matInput [matDatepicker]="picker" [formControlName]="field.key"
            [attr.aria-label]="field.label" />
          <mat-datepicker #picker></mat-datepicker>

          <mat-select *ngIf="field.type === 'select'" [formControlName]="field.key">
            <mat-option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</mat-option>
          </mat-select>

          <mat-error *ngIf="form.get(field.key)?.touched && form.get(field.key)?.invalid">
            {{ getErrorMessage(field) }}
          </mat-error>
        </mat-form-field>

        <div class="checkbox-wrapper" *ngIf="field.type === 'checkbox'">
          <mat-checkbox [formControlName]="field.key">
            {{ field.label }}
          </mat-checkbox>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <mat-error *ngIf="form && form.invalid && form.errors">
    {{ form.errors | json }}
  </mat-error>

<div class="form-actions">
  <button mat-raised-button color="primary" type="submit" class="submit-btn" [disabled]="form.invalid || loading">
    <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="20"></mat-progress-spinner>
    <span *ngIf="!loading">Submit</span>
  </button>

  <button mat-stroked-button color="warn" type="button" class="reset-btn" (click)="resetForm()" [disabled]="loading">
    Reset
  </button>
</div>
</form>